<tbody xmlns:th="http://www.w3.org/1999/xhtml">
<tr class="text-center" th:each="post : ${postList}">
    <th scope="row">
        <span th:text="${post.id}"></span>
    </th>
    <td>
        <a th:href="@{'/post/' + ${post.id}}">
            <span th:text="${post.title}"></span>
        </a>
    </td>
    <td>
        <span th:text="${post.author}"></span>
    </td>
    <td>
        <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
    </td>
</tr>
<tr th:if="${#lists.isEmpty(postList)}">
    <td colspan="4" class="text-center">게시글이 없습니다.</td>
</tr>
</tbody>
